@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Loterias Caixa</h1>
    <p class="lead">Loterias caixa é sua chance de ganhar prêmios e ficar milionário.</p>
    <p>
        @Html.ActionLink("Jogar", "Jogar", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>